In [1]:
import numpy as np
import pandas as pd

In [5]:
s = pd.Series(np.arange(1, 5), index=list("abcd"))

In [9]:
print(s)
print(s.index)
print(s.values)
print(s.shape)
print(s.size)
print(s.dtype)
print(s.name)

a    1
b    2
c    3
d    4
dtype: int32
Index(['a', 'b', 'c', 'd'], dtype='object')
[1 2 3 4]
(4,)
4
int32
None

In [27]:
s.name = "series name"
s.index.name = "hehe"
display(s)
display(s[-1])

hehe
a    1
b    2
c    3
d    4
Name: series name, dtype: int32

4

In [39]:
a = pd.Series(np.arange(5))
display(a)
a.index = list("abcde")
a[-1]

0    0
1    1
2    2
3    3
4    4
dtype: int32

4

In [45]:
b = pd.Series(list("abcde"), index=list("oiure"))
b[-1]

'e'

In [49]:
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
s1 + s2

0    5
1    7
2    9
dtype: int64

In [50]:
s3 = pd.Series([1, 2, 3])
s4 = pd.Series([4, 5])
s3 + s4

0    5.0
1    7.0
2    NaN
dtype: float64

In [52]:
s5 = pd.Series([1, 2, 3], index=list("abc"))
s6 = pd.Series([4, 5, 6])
s7 = s5 + s6
s7

a   NaN
b   NaN
c   NaN
0   NaN
1   NaN
2   NaN
dtype: float64

In [57]:
s7.isna().all()

True

In [58]:
s8 = pd.Series([1, 2, 3, float("NaN"), np.nan])
s8.isnull()

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [59]:
arr = np.array([1, 2, 3, 4, np.nan])
s9 = pd.Series([1, 2, 3, 4, np.nan])
print(np.mean(arr))
print(np.mean(s9))

nan
2.5

In [60]:
ss = pd.Series([1, 2, 3], index=list("abc"))
ss

a    1
b    2
c    3
dtype: int64

In [64]:
display(ss["b"])
display(ss[1])
display(ss[["b", "a"]])

2

2

b    2
a    1
dtype: int64

In [65]:
display(ss.loc["b"])
display(ss.iloc[1])
display(ss.loc[["b", "a"]])

2

2

b    2
a    1
dtype: int64

In [69]:
aa = pd.Series(range(5), index=list("abcde"))
aa[aa > 2]

d    3
e    4
dtype: int64

In [70]:
aa.iloc[0:3]

a    0
b    1
c    2
dtype: int64

In [71]:
aa.loc["a":"d"]

a    0
b    1
c    2
d    3
dtype: int64

In [75]:
bb = pd.Series(range(5), index=list("abcde"))

In [77]:
bb[0] = 100
bb

a    100
b      1
c      2
d      3
e      4
dtype: int64

In [78]:
bb["a"] = 20
bb

a    20
b     1
c     2
d     3
e     4
dtype: int64

In [80]:
bb["o"] = "hi"
bb

a    20
b     1
c     2
d     3
e     4
o    hi
dtype: object

In [81]:
del bb["o"]
bb

a    20
b     1
c     2
d     3
e     4
dtype: object

In [82]:
bb.drop("a")
bb

a    20
b     1
c     2
d     3
e     4
dtype: object

In [83]:
bb.drop("a", inplace=True)
bb

b    1
c    2
d    3
e    4
dtype: object

In [84]:
bb.drop(["c", "e"])

b    1
d    3
dtype: object