In [1]:
import numpy as np
import pandas as pd

In [4]:
d = {"a": 0.0, "b": 1.0, "c": 2.0}
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [6]:
pd.Series(d, index=["b", "c", "d", "a", "a"])

b    1.0
c    2.0
d    NaN
a    0.0
a    0.0
dtype: float64

In [7]:
pd.Series(5.0)

0    5.0
dtype: float64

In [8]:
pd.Series(5.0, index=list("abcde"))

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [10]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
s

a    0.667440
b   -0.051958
c    0.400933
d    0.157218
e    1.603802
dtype: float64

In [11]:
s[0]

0.6674403495946897

In [12]:
s[:3]

a    0.667440
b   -0.051958
c    0.400933
dtype: float64

In [13]:
s[s > s.median()]

a    0.667440
e    1.603802
dtype: float64

In [14]:
s.median()

0.4009327234952067

In [15]:
s[[4, 3, 1]]

e    1.603802
d    0.157218
b   -0.051958
dtype: float64

In [16]:
np.exp(s)

a    1.949242
b    0.949369
c    1.493217
d    1.170251
e    4.971897
dtype: float64

In [20]:
s.array

<PandasArray>
[  0.6674403495946897, -0.05195777300849845,   0.4009327234952067,
  0.15721821257359797,   1.6038015495338065]
Length: 5, dtype: float64

In [21]:
s.to_numpy()

array([ 0.66744035, -0.05195777,  0.40093272,  0.15721821,  1.60380155])

In [22]:
s["a"]

0.6674403495946897

In [23]:
s["e"] = 12.0

In [24]:
s

a     0.667440
b    -0.051958
c     0.400933
d     0.157218
e    12.000000
dtype: float64

In [25]:
"e" in s

True

In [26]:
"f" in s

False

In [29]:
s.get("e")

12.0

In [30]:
s.get("f", 1.0)

1.0

In [32]:
s + s

a     1.334881
b    -0.103916
c     0.801865
d     0.314436
e    24.000000
dtype: float64

In [33]:
np.exp(s)

a         1.949242
b         0.949369
c         1.493217
d         1.170251
e    162754.791419
dtype: float64

In [35]:
s.name = "sth"
s

a     0.667440
b    -0.051958
c     0.400933
d     0.157218
e    12.000000
Name: sth, dtype: float64

In [37]:
data = np.zeros((2,), dtype=[("A", "i4"), ("B", "f4"), ("C", "a10")])

In [38]:
data

array([(0, 0., b''), (0, 0., b'')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [39]:
pd.DataFrame(data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      int32
 1   B       2 non-null      float32
 2   C       2 non-null      object
dtypes: float32(1), int32(1), object(1)
memory usage: 160.0+ bytes

In [40]:
data[:] = [(1, 2.0, "Hello"), (2, 3.0, "World")]

In [42]:
pd.DataFrame(data, index=["first", "second"])

        A    B         C
first   1  2.0  b'Hello'
second  2  3.0  b'World'

In [43]:
pd.DataFrame({
    ("a", "b"): {("A", "B"): 1, ("A", "C"): 2},
    ("a", "a"): {("A", "C"): 1, ("A", "B"): 4},
    ("a", "c"): {("A", "B"): 1, ("A", "C"): 6},
    ("b", "a"): {("A", "C"): 1, ("A", "B"): 8},
    ("b", "b"): {("A", "D"): 1, ("A", "B"): 10}
})

       a              b
       b    a    c    a     b
A B  1.0  4.0  1.0  8.0  10.0
  C  2.0  1.0  6.0  1.0   NaN
  D  NaN  NaN  NaN  NaN   1.0